{{ define "main" }}
<main class="px-4">
  {{ $listtitle := .Title }} {{ if or .Title .Content }}
  <div class="my-4 font-sans-slab">
    {{ with .Title }}
    <h1 class="text-4xl">{{ . }}</h1>
    {{ end }} {{ with .Content }}
    <div>{{ . }}</div>
    {{ end }}
  </div>
  {{ end }}

  <ul>
    {{ $colors := slice "bg-fuchsia-700" "bg-teal-600" "bg-orange-800"
    "bg-rose-500" "bg-blue-500" "bg-yellow-400" "bg-sky-500" }} {{ range $index,
    $page := .Paginator.Pages }}
    <div class="font-mono">
      <div class="flex flex-row py-2 space-x-2">
        <div class="md:flex-grow">
          <a class="text-2xl font-semibold" href="{{ .Params.link }}"
            >{{.Title }}</a
          >
          <p>{{.Summary}}</p>
        </div>
        <div class="flex-none">
          {{ if .Params.image }}
          <img
            src="{{ .RelPermalink }}/{{ .Params.image.src }}"
            alt="{{ . }}"
            class="w-32 h-32 rounded"
          />
          {{ else }} {{ $colorIndex := mod $index (len $colors) }} {{ $color :=
          index $colors $colorIndex }} {{ if .Params.color }} {{ $color =
          .Params.color }} {{ end }}
          <div
            class="flex items-center justify-center w-32 h-32 rounded {{$color}}"
          >
            <p class="font-bold text-white text-7xl">{{substr .Title 0 1}}</p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</main>
{{ end }}
