<!doctype html>

<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }} {{ partial "scripts.html" . }}
  <body class="justify-center t-4 md:block dark:text-white dark:bg-black">
    <div class="container items-center max-w-screen-md">
      {{ partial "header.html" . }} {{ block "main" . }} {{ end }} {{ partial
      "footer.html" . }}
    </div>
  </body>
</html>
