{{ define "main" }}
<main class="px-4">
  {{ $listtitle := .Title }} {{ if or .Title .Content }}
  <div class="my-4 font-sans-slab">
    {{ with .Title }}
    <h1 class="text-4xl">{{ . }}</h1>
    {{ end }} {{ with .Content }}
    <div>{{ . }}</div>
    {{ end }}
  </div>
  {{ end }}

  <ul class="font-mono">
    {{ $paginator := .Paginate .Pages }} {{ range $paginator.Pages }} {{ .Render
    "summary" }} {{ end }} {{ partial "pagination.html" . }}
  </ul>
</main>
{{ end }}
