{{ define "main" }}
	<main class="px-4 font-mono prose max-w-screen-md prose-a:text-pink-600 dark:prose-invert">
 		<article>
			<h1 class="my-8">{{ .Title }}</h1>
			<b><time>{{ .Date.Format (default "2 January 2006" .Site.Params.dateFmt) }}</time></b>
		       <span>
  		       {{ .Params.minRead }}min read
		       </span>
		       {{ range .Params.tags }}
		           <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        	       {{ end }}

		         <figure class="w-full">
			    {{ with .Params.image }}
			    <img src="{{ .src }}" class="object-cover w-full" />
			    <figcaption>{{ .caption }}</figcaption>
			    {{ end }}
			  </figure>
			<div>
				{{ .Content }}
			</div>
		</article>
	</main>
{{ end }}
