<article class="my-8">
	<h1><a 
	 class="text-xl underline decoration-pink-600 decoration-1 hover:decoration-2" 
	 {{ if .Params.link }}
	 href="{{ .Params.link }}"
	 {{ else }}
	 href="{{ .RelPermalink }}" 
	 {{ end }}
	 >{{ .Title }}</a></h1>
	<b><time>{{ .Date.Format (default "2006-01-02" .Site.Params.dateFmt) }}</time></b>
	{{ range .Params.tags }}
	<a class="text-pink-600" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
	{{ end }}
	<div>
		{{ .Description }}
		{{ if .Truncated }}
		<p><a class="underline" href="{{ .RelPermalink }}">Read more...</a></p>
		{{ end }}
	</div>
</article>
