<div class="max-w-md mx-auto my-4 text-center">
  {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }} {{
  with $.Site.GetPage (printf "/tags/%s" $name) }}
  <a
    class="text-pink-600 hover:underline hover:decoration-2"
    href="{{ .RelPermalink }}"
    >{{$name}}</a
  >
  <sup>{{$cnt}}</sup>
  {{end}} {{end}}
</div>
