@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .prose-md {
    font-size: 48px;
  }
}

.job-description>ul {
  @apply print:list-none lg:list-none space-y-2 text-base print:text-xs print:space-y-0;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Stint+Ultra+Expanded&display=swap')
