{{ define "main" }}
<main
  class="px-4 font-mono prose max-w-screen-md prose-a:text-pink-600 dark:prose-invert"
>
  <article>
    <h1 class="my-8 font-sans-slab">{{ .Title }}</h1>

    <div class="font-mono">{{ .Content }}</div>
  </article>
</main>
{{ end }}
