<footer class="px-4 py-2 border-t-8 border-pink-600 border-double print:hidden">
  <p class="font-mono">
    &copy; {{ now.Year }}
    <a href="https://creativecommons.org/licenses/by-nc/4.0/"
      ><b
        >{{ if .Site.Copyright }}{{ .Site.Copyright }}{{ else }}{{ .Site.Title
        }}{{ end }}</b
      ></a
    >. {{- range .Site.Menus.footer }}
    <a href="{{ .URL }}"><b>{{ .Name }}</b></a
    >. {{- end }}
  </p>
</footer>
