<head>
  <meta charset="utf-8" />
  <title>{{ .Title }}</title>
  {{ $style := resources.Get "css/main.scss" }} {{ $style := $style | toCSS |
  postCSS (dict "config" "./assets/css/postcss.config.js") }} {{ if
  .Site.IsServer }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  {{ else }} {{ $style := $style | minify | fingerprint | resources.PostProcess
  }}
  <link
    rel="stylesheet"
    href="{{ $style.Permalink }}"
    integrity="{{ $style.Data.Integrity }}"
  />
  {{ end }} {{ template "_internal/opengraph.html" . }} {{ template
  "_internal/twitter_cards.html" . }}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ with .Site.Params.author }}
  <meta name="author" content="{{ . }}" />
  {{ end }} {{ with .Site.Params.description }}
  <meta name="description" content="{{ . }}" />
  {{ end }}
  <link href="https://mastodon.social/@bruvduroiu" rel="me" />
  <link href="https://hachyderm.io/@budududuroiu" rel="me" />
</head>
