{{ define "main" }}
<div class="container">
  <div class="max-w-5xl px-4 mx-auto text-black dark:text-white font-mono">
    <div
      class="flex flex-col justify-between py-3 print:items-end print:mb-0 lg:mb-0 print:flex-row"
    >
      <h1
        class="inline overflow-visible font-sans-slab leading-tight tracking-tight text-4xl xl:col-auto bg-gradient-to-r bg-clip-text print:text-black print:text-xl"
      >
        Bogdan Buduroiu
      </h1>
      <h2 class="inline text-2xl font-semibold leading-loose print:text-base">
        Platform & AI Engineer
      </h2>
    </div>
    <div class="grid gap-5 grid-cols-1 lg:grid-cols-3 print:grid-cols-3">
      <div class="order-2 lg:order-1 lg:col-span-2 print:col-span-2">
        <h3
          class="py-2 text-3xl font-bold border-b-2 print:text-base print:py-0"
        >
          Experience
        </h3>
        <!-- Go template to sort by date -->
        {{ with .Resources.ByType "page" }} {{ range where . "Type" "job" }}
        <article>
          <div class="flex flex-col print:flex-row">
            <h1 class="text-2xl font-semibold text-pink-600 print:text-sm">
              {{ .Params.title }}
            </h1>
            <h2 class="text-xl print:text-sm print:ml-2">
              {{ .Params.company }}
            </h2>
          </div>

          <p class="text-gray-800 print:text-xs dark:text-gray-100">
            {{ .Params.start }} - {{ .Params.date.Format "January 2006" }}
          </p>
          <div class="job-description list-none">{{ .Content }}</div>
        </article>
        {{ end }} {{ end }}
      </div>
      <div class="order-1 lg:order-2">
        <h3
          class="py-2 text-3xl font-bold border-b-2 print:text-base print:py-0"
        >
          Profile
        </h3>
        <p class="text-base print:text-xs">
          Platform and AI Engineer with 8+ years of experience focusing on Cloud
          Native Infrastructure and Durable AI Agent workflows
        </p>
        <h3
          class="py-2 text-3xl font-bold border-b-2 print:text-base print:py-0"
        >
          Skills
        </h3>
        {{ range $stack, $skills := .Params.stack }}
        <h4 class="py-2 text-xl font-semibold print:text-sm print:py-0">
          {{ $stack | humanize }}
        </h4>
        <ul>
          {{ range $skills }}
          <li class="text-base print:text-xs">{{ . }}</li>
          {{ end }}
        </ul>
        {{ end }}
        <h3
          class="py-2 text-3xl font-bold border-b-2 print:text-base print:py-0"
        >
          Education
        </h3>
        {{ with .Resources.ByType "page" }} {{ range where . "Type" "education"
        }}
        <article>
          <h1 class="text-xl font-bold text-pink-600 print:text-sm">
            {{ .Params.course }}
          </h1>
          <h2 class="text-lg font-semibold print:text-xs">
            {{ .Params.university }}
          </h2>
          <p class="text-base font-italic print:text-xs">{{ .Params.grad }}</p>

          <div class="text-base print:text-xs">{{ .Content }}</div>
        </article>
        {{ end }} {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
