<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }} {{ partial "scripts.html" . }} {{ partial
  "header.html" .}}
  <body>
    <div class="container">
      <h1 class="text-4xl text-orange-700">404</h1>

      <p class="text-semibold">Page not found :(</p>
      <p>The requested page could not be found.</p>
    </div>
  </body>
</html>
