{{ define "main" }}
<main class="px-4 mx-auto font-mono max-w-screen-md">
  <div class="w-full my-4">
    <a class="mx-auto text-4xl font-bold font-sans-slab" href="/"
      >{{ .Site.Title }}</a
    >
  </div>
  {{ with .Content }}
  <div class="my-12 text-xl font-semibold">{{ . }}</div>
  {{ end }}
  <h2 class="text-lg text-center">topics</h2>
  {{ .Render "tags" }}
  <div class="border-t-4 border-pink-600">
    <h3 class="my-2 text-xl font-semibold text-center font-sans-slab">
      Recent posts
    </h3>
  </div>
  {{ range first 3 (where site.RegularPages "Section" "blog") }} {{ .Render
  "summary" }} {{ end }}
  <div class="my-4 text-center">
    <a class="text-black dark:text-white hover:underline" href="/blog"
      >...all posts...</a
    >
  </div>
</main>
{{ end }}
