{{ define "main" }}
<main class="px-4">
  {{ $listtitle := .Title }} {{ if or .Title .Content }}
  <div class="my-4 font-sans-slab">
    {{ with .Title }}
    <h1 class="text-4xl">{{ . }}</h1>
    {{ end }} {{ with .Content }}
    <div>{{ . }}</div>
    {{ end }}
  </div>
  {{ end }}

  <ul>
    {{ range $index, $page := .Paginator.Pages }}
    <div class="font-mono">
      <div class="flex flex-row py-2 space-x-2">
        <div class="md:flex-grow">
          <h1>
            <a
              class="text-2xl underline font-semibold decoration-pink-600 decoration-1 hover:decoration-2"
              {{
              if
              .Params.link
              }}
              href="{{ .Params.link }}"
              {{
              else
              }}
              href="{{ .RelPermalink }}"
              {{
              end
              }}
              >{{ .Title }}</a
            >
          </h1>
          <p>{{.Summary}}</p>
        </div>
      </div>
    </div>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</main>
{{ end }}
