<figure>
	<img src="{{.Get "src"}}" class="{{ if .Get "class" }}{{ .Get "class" }}{{ else }}object-cover w-full h-full{{ end }}" />
  {{ with .Get "caption" }}
  <figcaption>
    {{ . }}
  </figcaption>
  {{ end }}
</figure>
